body{
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.home {
  height: 800px;
  width: auto;
  background: url("../images/ceystalhorizon.png") no-repeat;
  background-size: cover;
  opacity: 0.7;
}

.title {
  font-size: 5em;
  margin: auto;
  color: rgba(255, 255, 255, 0.64);
  padding: 100px;
}

.contact {
  height: 800px;
  width: auto;
  background: url("../images/sky_thumb.jpg") no-repeat;
  background-size: cover;
  opacity: 0.7;
}

.contact-title {
  margin: 0 auto;
  padding: 300px;
  font-size: 3em;
}
